<h1 class="text-xs-center title">Twitch Finder</h1>

<div ng-controller="TwitchFinderController">
    <div class="col-xs-12 search-area">
        <input type="text" ng-keyup="$event.keyCode == 13 ? search() : null" ng-model="name" placeholder="e.g. Fifa" class="text-input" />
        <button type="button" class="btn btn-default" ng-click="search()">
            <span class="fa fa-search"></span> Search
        </button>
    </div>
    <div class="col-xs-12">
        <div class="container list-results">
            <div class="vhcenter" ng-if="listStreams._total == 0">
                <h2>No results</h2>
            </div>

            <div ng-if="listStreams">
                <div ng-repeat="stream in listStreams.streams" class="col-xs-12 col-sm-6 col-lg-4 list-item">
                    <a ng-click="streamDetail(stream.channel.name)">
                        <img class="img-thumbnail" ng-src="{{stream.preview.large}}">
                        <p>{{stream.channel.name}}</p>
                    </a>
                </div>
            </div>

            <div id="list-spinner" ng-show="loading" class="loader vhcenter"></div>
        </div>
    </div>
</div>